.profile__edit-botton {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/editbotton.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    object-fit: cover;
    border: 1px solid #fff;

}

@media screen and (max-width: 320px) {
    .profile__edit-botton {
        width: 18px;
        height: 18px;
    }    
  }